{% extends "layout.html" %}

{% block content %}
<div id="about">

  <p>I'm a software developer live in Knoxville, TN where I live with my two little kids and beautiful wife.</p>

   <p>I have been writting software since 2006 with open source contribution to Apache Axis2/C. Also, I participated in Google Summer of Code 2005 with my contribution to Apache Axis2/C. 
    These days I involved mostly on python development.</p>

   <p> I'm working as a software developer for KPMG Advisory where I involved in data analytice for multiple industries. </p>
</div>
{% endblock %}
