<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Dinesh Weerapurage</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
    <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <a href="/" class="navbar-brand">Dinesh Weerapurage</a>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-right">
                <li id="aboutheader"><a href="/about">ABOUT</a></li>
            </ul>
        </div>
    </div>

    <div class="container-full">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-lg-3">
                <div id="toc">
                    <ul>
                        {% set  current_date = "" %}
                        {% for page in pages|sort(attribute='date') %}
                        <li>
                            {% if page.date != current_date %}
                            <span>{{ page.date }}</span><br />
                            {% endif %}
                            <a href="{{ url_for('page', path=page.path) }}">{{ page.title }}</a>
                        </li>
                        {% set  current_date = page.date %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 col-lg-5 body-content">
                <!--Body content-->
                {% block content %}{% endblock %}
            </div>
            <div id="dpicture" class="col-xs-12 col-md-4 col-lg-4" >
                <!--Right Sidebar content-->
                <img src="/static/images/dinesh.jpg" />
                <hr />
                <h3>Dinesh Weerapurage</h3>
                <p id="aboutshort">Open source enthusiast, Python developer, Apache Axis2/C committer and PMC.</p>
                <hr />
                <div class="break"></div>
                <div id="social">
                    <ul>
                        <li id="social_first"><a href="https://github.com/xydinesh"><img src="/static/images/social/github.png" /></a></li>
                        <li><a href="https://www.linkedin.com/in/xydinesh"><img src="/static/images/social/linkedin.png" /></a></li>
                        <li><a href="https://twitter.com/xydinesh"><img src="/static/images/social/twitter.png" /></a></li>
                        <li><a href="mailto:xydinesh@gmail.com"><img src="/static/images/social/email.png" /></a></li>
                    </ul>
                </div>
                <div class="break">
                    <!-- Begin MailChimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                    <form action="//euwe.us8.list-manage.com/subscribe/post?u=796c4e7111f8d97492817a226&amp;id=216e1cfa64" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                        <h2>Subscribe to mailing list</h2>
                    <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address </label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    </div>
                    <div class="mc-field-group">
                        <label for="mce-MMERGE3">Zip Code </label>
                        <input type="text" value="" name="MMERGE3" class="required" id="mce-MMERGE3">
                    </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_796c4e7111f8d97492817a226_216e1cfa64" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='zip';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                    <!--End mc_embed_signup-->
                </div>
            </div>
        </div>
    </div>
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
